.crumbs

  a,
  span
    font-size: $i_font_menu

  a
    color: $c_pine
    text-decoration: none

    &:hover,
    &:focus
      color: $c_pine
      text-decoration: underline

  span
    color: $c_lighter_pine
