.share

  @include m_tablet
    display: none !important

  li
   display: inline-block;
   padding: 0;
   margin: 0;
   width: 20%;
   border: 1px solid #FFF
   box-sizing: border-box

  a
    background-color: $c_pine
    background-repeat: no-repeat
    background-position: center
    height: 1.75rem
    position: relative
    padding: 0

    &:hover,
    &:focus
      background-color: $c_jungle

  // Be sure to escape "#" as %23 in the embedded SVGs!

  #_share-fb
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 4.233333 4.233333"><path fill="#{$c_white_url}" d="M 2.1161296,4.2333333 H 1.3229166 V 2.1166667 H 0.79375 v -0.79375 H 1.3229166 V 0.94898097 C 1.3229166,0.3538802 1.5568427,0 2.257843,0 H 2.9104167 V 0.7295885 H 2.4766852 c -0.2729309,0 -0.3594814,0.10194397 -0.3594814,0.2922323 l -0.00106,0.3010959 H 2.9104151 L 2.8,2.1166667 H 2.1161454 Z" /></svg>')

  #_share-in
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 4.233333 4.233333"><path fill="#{$c_white_url}" d="m 0.88934927,0.52916667 c -0.2400406,0 -0.3601826,0.1080442 -0.3601826,0.3234944 0,0.21690543 0.120142,0.32556133 0.3601826,0.32556133 0.12002293,0 0.20943093,-0.02834 0.26871883,-0.084749 0.060732,-0.057838 0.09095,-0.13815383 0.09095,-0.24081213 0,-0.2154502 -0.1196261,-0.3234944 -0.35966883,-0.3234946 z M 2.9362532,1.3926796 c -0.164846,0 -0.2445094,0.030229 -0.3746527,0.09095 -0.128696,0.059293 -0.2301108,0.113346 -0.3038581,0.230477 h -0.03669 L 2.1321685,1.449007 H 1.6128206 V 3.8302571 H 2.2882304 V 2.7223144 c 0,-0.2863057 0.041084,-0.491017 0.1235075,-0.6139159 0.082423,-0.1243809 0.2164344,-0.1865522 0.4015263,-0.1865522 0.1359271,0 0.2308283,0.04408 0.2930073,0.1322917 0.06218,0.086757 0.09354,0.2177719 0.09353,0.3927409 v 1.3833782 h 0.661459 V 2.2820313 c 0,-0.2877609 -0.07306,-0.5075471 -0.219104,-0.6593914 C 3.4961065,1.4693667 3.2182325,1.3926796 2.9362532,1.3926796 Z M 0.55448727,1.4490066 V 3.8302571 H 1.2190466 V 1.449007 Z" /></svg>')

  #_share-tw
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#{$c_white_url}" d="M9.52 6.77 15.48 0h-1.41L8.9 5.88 4.76 0H0l6.25 8.9L0 16h1.41l5.46-6.21L11.24 16H16L9.52 6.77ZM7.6 8.97l-.63-.88-5.04-7.05H4.1l4.06 5.69.64.88 5.28 7.4H11.9L7.59 8.97Z" /></svg>')

  #_share-mail
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 4.233333 4.233333"><path fill="#{$c_white_url}" d="M 2.1166666,0.52916667 0.26458333,1.5875 H 3.96875 Z M 3.96875,1.5875 2.1166666,2.6458333 0.26458333,1.5875 V 3.96875 H 3.96875 Z" /></svg>')

  #_print-button
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 4.233333 4.233333"><path fill="#{$c_white_url}" d="M 0.79375003,0.52916667 V 1.5874996 h -0.5291667 v 1.322917 h 0.5291667 v 1.058333 H 3.4395833 V 2.9104166 H 3.96875 V 1.5874996 H 3.4395833 V 0.52916667 Z m 0.26458327,0.264583 H 3.175 V 1.5874996 H 1.0583333 Z m 2.38125,1.05833293 c 0.1461241,0 0.2645833,0.05921 0.2645833,0.132292 0,0.07305 -0.1184592,0.132292 -0.2645833,0.132292 -0.1461241,0 -0.2645833,-0.05924 -0.2645833,-0.132292 0,-0.07308 0.1184592,-0.132292 0.2645833,-0.132292 z m -2.3977864,0.529167 h 2.1166666 v 1.322917 H 1.0417969 Z m 0.2811197,0.264583 v 0.264584 h 1.5875 v -0.264584 z m 0.016537,0.529167 v 0.264583 h 1.5875 v -0.264583 z" /></svg>')
