html,
body
  font-size: 16px
  height: 100%
  min-width: 200px

body
  margin: 0.75rem !important
  background-color: $c_white
  font-family: $f_sans
  line-height: 140%


main
  @extend .columns


#_side-toc-overall
  @extend .column
  @extend .is-2
  background-color: $c_fog_200


article
  @extend .column
  @extend .is-8


#_side-toc-page
  @extend .column
  @extend .is-2
  background-color: $c_fog_200
