#_side-toc-overall
  min-height: 100vh
  overflow: auto
  position: relative


  ol
    margin: 0
    padding: 0
    display: block

  ol ol
    background-color: scale-color($c_fog, $lightness: +25%)
    display: none

  ol > li.active > ol
    display: block

  li
    display: block

  a
    color: $c_pine
    display: block
    line-height: 22px
    padding: 0.25rem .5rem
    position: relative
    text-decoration: none

  a:focus,
  a:hover,
  a:active
    background-color: $c_fog_200
    text-decoration: underline

  li
    > a.has-children::after
      background-color: $c_pine
      color: $c_white
      content: '>'
      display: block
      float: right
      height: 1rem
      text-align: center
      width: 1rem

    &.active > a.has-children::after
      content: 'v'

  ol > li.active > a
    background-color: $c_mint
    color: #FFF

  ol ol li > a
    padding-left: 1rem
