/* For local(): open font in Fontforge, go to Element > Font Info...,
   use "Name for Humans" as first local(), "Fontname" as second local(). */

@font-face {
    font-family: 'MetricHPE';
    font-weight: normal;
    font-style: normal;
    src: url('metric-r.woff') format('woff');
}

@font-face {
    font-family: 'MetricHPE';
    font-weight: normal;
    font-style: italic;
    src: url('metric-ri.woff') format('woff');
}

@font-face {
    font-family: 'MetricHPE';
    font-weight: 600;
    font-style: normal;
    src: url('metric-s.woff') format('woff');
}

@font-face {
    font-family: 'MetricHPE';
    font-weight: 600;
    font-style: italic;
    src: url('metric-si.woff') format('woff');
}

@font-face {
    font-family: 'MetricHPE';
    font-weight: 700;
    font-style: normal;
    src: url('metric-s.woff') format('woff');
}

@font-face {
    font-family: 'MetricHPE';
    font-weight: 700;
    font-style: italic;
    src: url('metric-si.woff') format('woff');
}

@font-face {
    font-family: 'HPE Simple';
    font-weight: normal;
    font-style: normal;
    src: url('simple-r.woff') format('woff');
}

@font-face {
    font-family: 'HPE Simple';
    font-weight: 600;
    font-style: normal;
    src: url('simple-b.woff') format('woff');
}

@font-face {
    font-family: 'HPE Simple';
    font-weight: 700;
    font-style: normal;
    src: url('simple-b.woff') format('woff');
}

