/*
 * Legal Disclaimer
 *
 * These Fonts are licensed only for use on domains of HPE.
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2015
 */

@font-face {
    font-family: "HPESimpleWeb-Regular";
    src: url("fonts/HPESimpleWeb-Regular.eot");
    src: url("fonts/HPESimpleWeb-Regular.eot#iefix") format("embedded-opentype"),
         url("fonts/HPESimpleWeb-Regular.woff2") format("woff2"),
         url("fonts/HPESimpleWeb-Regular.woff") format("woff"),
         url("fonts/HPESimpleWeb-Regular.ttf") format("truetype"),
         url("fonts/HPESimpleWeb-Regular.svg#HPESimpleWebRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "HPESimpleWeb-Oblique";
    src: url("fonts/HPESimpleWeb-Oblique.eot");
    src: url("fonts/HPESimpleWeb-Oblique.eot#iefix") format("embedded-opentype"),
         url("fonts/HPESimpleWeb-Oblique.woff2") format("woff2"),
         url("fonts/HPESimpleWeb-Oblique.woff") format("woff"),
         url("fonts/HPESimpleWeb-Oblique.ttf") format("truetype"),
         url("fonts/HPESimpleWeb-Oblique.svg#HPESimpleWebOblique") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HPESimpleWeb-Light";
    src: url("fonts/HPESimpleWeb-Light.eot");
    src: url("fonts/HPESimpleWeb-Light.eot#iefix") format("embedded-opentype"),
         url("fonts/HPESimpleWeb-Light.woff2") format("woff2"),
         url("fonts/HPESimpleWeb-Light.woff") format("woff"),
         url("fonts/HPESimpleWeb-Light.ttf") format("truetype"),
         url("fonts/HPESimpleWeb-Light.svg#HPESimpleWebLight") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HPESimpleWeb-LightOblique";
    src: url("fonts/HPESimpleWeb-LightOblique.eot");
    src: url("fonts/HPESimpleWeb-LightOblique.eot#iefix") format("embedded-opentype"),
         url("fonts/HPESimpleWeb-LightOblique.woff2") format("woff2"),
         url("fonts/HPESimpleWeb-LightOblique.woff") format("woff"),
         url("fonts/HPESimpleWeb-LightOblique.ttf") format("truetype"),
         url("fonts/HPESimpleWeb-LightOblique.svg#HPESimpleWebLightOblique") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HPESimpleWeb-Bold";
    src: url("fonts/HPESimpleWeb-Bold.eot");
    src: url("fonts/HPESimpleWeb-Bold.eot#iefix") format("embedded-opentype"),
         url("fonts/HPESimpleWeb-Bold.woff2") format("woff2"),
         url("fonts/HPESimpleWeb-Bold.woff") format("woff"),
         url("fonts/HPESimpleWeb-Bold.ttf") format("truetype"),
         url("fonts/HPESimpleWeb-Bold.svg#HPESimpleWebBold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HPESimpleWeb-BoldOblique";
    src: url("fonts/HPESimpleWeb-BoldOblique.eot");
    src: url("fonts/HPESimpleWeb-BoldOblique.eot#iefix") format("embedded-opentype"),
         url("fonts/HPESimpleWeb-BoldOblique.woff2") format("woff2"),
         url("fonts/HPESimpleWeb-BoldOblique.woff") format("woff"),
         url("fonts/HPESimpleWeb-BoldOblique.ttf") format("truetype"),
         url("fonts/HPESimpleWeb-BoldOblique.svg#HPESimpleWebBoldOblique") format("svg");
    font-weight: normal;
    font-style: normal;
}