@charset "utf-8.sass"

// SUSE STYLE

// Fonts

$f_sans: Poppins, Roboto, sans-serif
$f_mono: 'Roboto Mono', 'RobotoMono', 'DejaVu Sans Mono', 'DejaVuSansMono', 'Menlo', 'Andale Mono', monospace

$i_font_normal: 1rem
//FIXME: check mono size!
$i_font_mono: 1.1rem
$i_font_side_toc: .9rem
$i_font_menu: .8rem
$i_font_menu_mini: .7rem


// Colors

$c_white:        rgb(255, 255, 255)
$c_black:        rgb(  0,   0,   0)

$c_fog:          rgb(239, 239, 239)
$c_fog_200:      rgb(222, 223, 224)
$c_fog_300:      rgb(192, 194, 196)

$c_pine:         rgb( 12,  50,  44)
$c_jungle:       rgb( 48, 186, 120)

$c_midnight:     rgb( 25,  32, 114)
$c_midnight_60:  rgb(117, 122, 167)
$c_midnight_30:  rgb(187, 189, 212)

$c_waterhole:    rgb( 36,  83, 255)
$c_waterhole_60: rgb(128, 154, 247)
$c_waterhole_30: rgb(191, 203, 251)

$c_persimmon:    rgb(254, 124,  63)
$c_persimmon_60: rgb(243, 178, 146)
$c_persimmon_30: rgb(249, 218, 200)

$c_mint:         rgb(144, 235, 205)
$c_mint_60:      rgb(199, 241, 227)
$c_mint_30:      rgb(227, 248, 241)

//FIXME suse22: fixed values are ugly
$i_big_head:     135px
$i_head_offset:  65px

// IMPORTS

// Custom imports

@import "custom/major-elements.sass"

@import "custom/side-toc.sass"

@import "custom/header-menu.sass"

@import "custom/pizzazz.sass"

//@import "old/base"

//@import "old/nav-header"

//@import "old/nav-toolbar"

//@import "old/nav-toc"

//@import "old/bottom-share-print"

@import "old/footer.sass"

@import "old/content-block.sass"

@import "old/content-inline.sass"

//@import "old/print"

//@import "old/responsive"


// Upstream imports (must be last!)

//@import "bulma-0.9.3/bulma/bulma.sass"
@import "bulma-0.9.3/bulma/sass/base/minireset.sass"
@import "bulma-0.9.3/bulma/sass/elements/container.sass"
@import "bulma-0.9.3/bulma/sass/grid/_all.sass"
